<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Balance</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <div class="container">
        <h1>Customer Balance</h1>

        {% if balance is not none %}
            <p><strong>Customer SSN:</strong> {{ cssn }}</p>
            <p><strong>Account Balance:</strong> ${{ balance }}</p>
        {% else %}
            <p>No balance found for the provided SSN.</p>
        {% endif %}

        <br><br>
        <button>
            <a href="/customer">Back to Previous Page</a>
    </div>
</body>
</html>
