<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Details</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Loan Details for Customer SSN: {{ cssn }}</h1>
        {% if loans %}
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Loan Number</th>
                <th>Loan Amount</th>
                <th>Loan InterestRate</th>
                <th>Loan Repayment</th>
                <th>Account Number</th>
            </tr>
            {% for loan in loans %}
            <tr>
                <td>{{ loan[0] }}</td>
                <td>{{ loan[1] }}</td>
                <td>${{ loan[2] }}</td>
                <td>{{ loan[3] }}%</td>

                <td>${{ loan[4] }}</td>

                <td>{{ loan[5] }}</td>

            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No loans found for this customer.</p>
        {% endif %}
        <div class="back-link">
            <a href="/customer">Back to Previous Page</a>
        </div>
    </div>
</body>
</html>
